body {
    font-family: Arial, Helvetica, sans-serif;
    background: #020024;
    background: linear-gradient(180deg, rgb(4, 0, 72) 0%, rgba(9, 9, 121, 1) 16%, rgba(0, 130, 156, 1) 100%);
    height: 100%;
    background-repeat: no-repeat;
}

h1, h2, p {
    text-align: center;
    color: white;
}

select {
    font-size: 24px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    justify-content: center;
}

button {
    font-size: 24px;
    border-radius: 5px;
    border: none;
}

input, select, button {
    margin-bottom: 10px;
}